{% if notebook.author.id != logined_profile.id %}
  {% else %}
<div class="modal fade" id="example-modal-{{ notebook.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-title-{{ notebook.id }}" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3" id="modal-title-{{ notebook.id }}"> <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" fill="#fff" style="width: 25px;"><path d="M202.24 74C166.11 56.75 115.61 48.3 48 48a31.36 31.36 0 00-17.92 5.33A32 32 0 0016 79.9V366c0 19.34 13.76 33.93 32 33.93 71.07 0 142.36 6.64 185.06 47a4.11 4.11 0 006.94-3V106.82a15.89 15.89 0 00-5.46-12A143 143 0 00202.24 74zM481.92 53.3A31.33 31.33 0 00464 48c-67.61.3-118.11 8.71-154.24 26a143.31 143.31 0 00-32.31 20.78 15.93 15.93 0 00-5.45 12v337.13a3.93 3.93 0 006.68 2.81c25.67-25.5 70.72-46.82 185.36-46.81a32 32 0 0032-32v-288a32 32 0 00-14.12-26.61z"/></svg> &ensp;{{ notebook.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-3">
                      <!-- First collapse -->
                <div class="m-2 position-fixed" style="width: 17%;">
                  <button type="button" class="btn btn-link d-flex align-items-baseline" data-bs-toggle="collapse" data-bs-target="#collapse-example-{{ notebook.id }}" aria-expanded="true" aria-controls="collapse-example-{{ notebook.id }}">
                  <i class="fas fa-book-open"></i> &ensp;Pages
                </button>

                <div class="collapse show" id="collapse-example-{{ notebook.id }}">
                  <div class="ps-4 mt-2">
                    <ul class="list-unstyled mb-0" id="notebook-pages-{{ notebook.id }}">
                      {% for page in notebook.page_set.all %}
                      
                      <li class="p-1" data-id="{{ page.id }}">
                        <!-- Drag Icon -->
                      <svg class="drag-handle me-2" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <circle cx="7" cy="5" r="1.5"></circle>
                          <circle cx="17" cy="5" r="1.5"></circle>
                          <circle cx="7" cy="12" r="1.5"></circle>
                          <circle cx="17" cy="12" r="1.5"></circle>
                          <circle cx="7" cy="19" r="1.5"></circle>
                          <circle cx="17" cy="19" r="1.5"></circle>
                      </svg>
                      <!-- Drag Icon -->
                      <a href="" data-bs-toggle="modal" data-bs-target="#example-modal-page-{{ page.id }}" data-page-id="{{ page.id }}" class="page-title">{{ page.title }}</a></li>
                        <ul class="list-unstyled mb-1">
                          {% for subpage in page.subpage_set.all %}
                          <li class="p-1">&ensp;&ensp;&ensp;&ndash;&ndash; <a href="" data-bs-toggle="modal" data-bs-target="#example-modal-subpage-{{ subpage.id }}" data-subpage-id="{{ subpage.id }}" class="subpage-title">{{ subpage.title }}</a></li>
                          {% endfor %}
                        </ul>
                      {% empty %}
                      <li class="p-1">&ndash; No Pages</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                </div>
          </div>
          <div class="col-9">
            <div id="notebook-body-{{ notebook.id }}" data-notebook-id="{{ notebook.id }}">
                {% comment %} <button id="load-content-{{ notebook.id }}"
                      hx-get="{% url 'fetch_notebook_pages' notebook.id %}"
                      hx-trigger="click"
                      hx-target="#notebook-body-{{ notebook.id }}"
                      hx-swap="outerHTML"
                      style="display: none;">
              </button> {% endcomment %}
              <button id="load-content-{{ notebook.id }}"
                          hx-get="{% url 'fetch_notebook_notebook' notebook_id=notebook.id %}"
                          hx-trigger="click"
                          hx-target="#notebook-body-{{ notebook.id }}"
                          hx-ext="json-enc"
                          hx-swap="innerHTML"
                          hx-on::after-request="updateNotebookBody(event)"
                          data-notebook-id="{{ notebook.id }}"
                          style="display: none;">
                  </button>
            </div>
            <div class="text-center" id="loading-spinner-{{ notebook.id }}">
              <div class="spinner-border text-primary mt-3 mb-2 mt-lg-5 specific-w-50 specific-h-50" role="status" aria-hidden="true"></div>
              <p>Loading Text... Hang on!</p>
            </div>
            {% comment %} {% if notebook.is_favourite %} {{ notebook.body|safe }} {% endif %} {% endcomment %}
            {% comment %}{{ notebook.body|safe }} {% endcomment %}
          </div>
    </div>
        <!-- Pop Over -->
        <!-- <div class="mb-4">
          <button type="button" class="btn" data-bs-toggle="popover" data-bs-title="Title of the popover" data-bs-content="Content of the popover that spans across multiple lines.">
            Popover
          </button>
        </div> -->
        <!-- Pop Over -->

      </div>

      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->

        {% if notebook.author.id != logined_profile.id %}
        {% else %}
          <a href="{% url 'create_page' notebook_pk=notebook.id %}" class="btn btn-info">Add Page</a>
          <a href="{% url 'update_notebook' notebook.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'generate_pdf' pk=notebook.id %}" class="btn btn-outline-success"><i class="fas fa-file-pdf"></i> Export PDF</a>
          <a href="{% url 'exportNotebookToJson' pk=notebook.id %}" class="btn btn-outline-success"><i class="fas fa-file-pdf"></i> Export JSON</a>
          
          {% if notebook.is_password_protected %}
            <a disabled href="" class="btn disabled"><i class="fas fa-share-alt"></i> Notebook is Password Protected</a>
          {% else %}
            {% if notebook.is_shared %}
              {% comment %} <a href="{% url 'stopSharingNotebook' pk=notebook.id %}" class="btn btn-outline-info disabled"><i class="fas fa-share-alt" disabled></i> Shared Already</a> {% endcomment %}
            {% else %}
              <a href="{% url 'startingSharedNotebooks' pk=notebook.id %}" class="btn btn-outline-info"><i class="fas fa-share-alt"></i> Share this Notebook</a>
            {% endif %} 
          {% endif %}

          {% if notebook.is_favourite %}
          <a href="{% url 'removeToFavourites' pk=notebook.id %}" class="btn btn-outline-info"> Removed From Favourites</a>
            {% else %}
            <a href="{% url 'addToFavourites' pk=notebook.id %}" class="btn btn-outline-info"><i class="fas fa-heart"></i> Add to Favourites</a>
          {% endif %}

            {% if notebook.priority == 0 or notebook.priority == 1 or notebook.priority == 2 %}
              <a href="{% url 'decrementPriority' pk=notebook.id %}" class="btn btn-outline-warning"><i class="fas fa-arrow-down"></i> Decrease Priority</a>
            {% else %}
              <a href="{% url 'incrementPriority' pk=notebook.id %}" class="btn btn-outline-warning"><i class="fas fa-arrow-up"></i> Increase Priority</a>
            {% endif %}


          {% if notebook.author.id == logined_profile.id %}
          <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ notebook.id }}" class="btn btn-outline-danger">Delete Notebook</a>
          {% else %}
          <a href="" class="btn btn-outline-danger">You cannot Delete</a>
          {% endif %}

        {% endif %}

        <!-- spinner button -->
        <!-- <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button> -->
        <!-- spinner button -->
      </div>
    </div>
  </div>
</div>
{% endif %}